*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    background-color: rgb(247 247 247);
    color: #182983;
    font-size: medium;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    padding: 0px;
    
}

header{
    color: rgb(24 41 131);
    padding: 10px;
    
}

.footer, main, header{
    max-width: 600px;
    margin: 0 auto;
}

main{
    padding: 10px;
    
    
}

.listaswpp{
    padding: 10px;
}

.seccion1__menu{
    padding: 10px;
}

.seccion1__listas{
    display: flex;
    text-decoration: none;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
}

.seccion1__enlace{
    text-decoration: none;
    background-color: #182983;
    display: block;
    text-align: center;
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
}    

.seccion2{
    padding: 1rem;
}

.seccion2__mapa{
    height: 300px;
    width: 100%;
}

.seccion3{
    padding: 1rem;
}

.seccion3__listas{
    list-style: none;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}

.seccion3__item{
    width: 250px;
    height: 250px;
    border: 2px solid #182983;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seccion3__enlaces{
    text-transform: uppercase;
    color: #182983;
}

.seccion4{
    padding: 1rem;
}

.seccion4__foto{
    width: auto;
    justify-content: center;
    align-items: center;
}

.footer{
    
    padding: 10px;
    height: max-content;  
 }

 .seccion5{
    padding: 2rem;
 }

 .seccion5__boton{
    background-color: #182983;
    border-color: #182983;
 }

 .seccion6{
    Padding: 2rem;
 }

 .seccion7__menudesplegable{
    padding: 2rem;
 }

@media(min-width:2200px){
    body{
        background-color: aquamarine;
    }
}